[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "zmq/libzmq"]
	path = zmq/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "zmq/cppzmq"]
	path = zmq/cppzmq
	url = https://github.com/zeromq/cppzmq.git
