<launch>
	<node pkg="px4ctrl_lux" type="px4ctrl_node" name="px4ctrl" output="screen">
		<param name="px4ctrl_base_dir" value="$(find px4ctrl_lux)/config"/>
		<remap from="~odom" to="/vins_fusion/imu_propagate" />
		<remap from="~cmd" to="/drone/poscmd"/>
		<remap from="~allow_cmd" to="/drone/allow_cmd"/>
	</node>
</launch>
